<!-- BEGIN HEADER MENU -->
<div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown dropdown-fw">
            <a href="javascript:;" class="text-uppercase">
                <i class="fa fa-user"></i> CLIENTES 
            </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li>
                    <a href="{{ env }}nuevo-cliente">
                        <i class="fa fa-user"></i> Crear Cliente 
                    </a>
                </li>
                <li>
                    <a href="{{ env }}clientes">
                        <i class="fa fa-list"></i> Listar Clientes 
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-fw">
            <a href="javascript:;" class="text-uppercase">
                <i class="icon-settings"></i> Administrador </a>
            <ul class="dropdown-menu dropdown-menu-fw">
                <li>
                    <a href="{{ env }}costos">
                        <i class="fa fa-dollar"></i> Cambiar costos 
                    </a>
                </li>
                <li>
                    <a href="{{ env }}recargas">
                        <i class="fa fa-line-chart"></i> Ver Recargas 
                    </a>
                </li>
                <li>
                    <a href="{{ env }}consumos">
                        <i class="fa fa-area-chart"></i> Ver Consumos 
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- END HEADER MENU -->
